
/*
.jumbotron {
    background-image:url("http://i.imgur.com/bj6kcRj.png");
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
    height: 700px;
}*/


body {

}
.front {
  height: 100vh;
  background: 
    linear-gradient(
      rgba(179,205,255,0.15),
      rgba(205,205,220,0.37)
      ),
    url(http://i.imgur.com/zTbSukE.jpg);
  /*background: url("http://i.imgur.com/zTbSukE.jpg");
  background: url("http://i.imgur.com/I2MggeG.jpg");*/
  background-size: cover;
  margin: auto 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}


.front h1{
  font-size: 75px;
  font-family: 'Quicksand', sans-serif;
  color: #f3f3f3;
  margin-top: 300px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-shadow: 0px 0px 2px;
  letter-spacing: -2px;

}

.logo img {
  height: 120px;
  width: 120px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: -20px;
 }


.bullets ul{
  text-align: center;
  font-size: 70px;
  position: relative;
  margin: -10px;
}

.bullets li{
  font-family: 'Lobster';
  font-size: 70px;
  color: #821010;
  display: inline-block;
  float: none;
  margin-right: 20px;
}

.scroll img {
  height: 65px;
  width: 65px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}


.icons{
  width: 100%;
  height: 150vh;
  background: -webkit-linear-gradient(rgba(202,202,230,0.2),rgba(51,51,225,0.3));
  
}
#imagelist {
  font-size: 0;
  width: 1000px;
  margin: 0 auto;
  padding-left: 10px;

}

#imagelist a{
  margin: 2px;
  display: inline-block;


}

h1{
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 50px;
  font-size: 50px;
  font-family: 'Lobster';
  color: rgb(128,128,128);

}
/*h6{
  opacity: 0;
  padding-top: 30px;
  font-family: 'Raleway';
  font-size: 22px;
  color: rgb(0,77,153);
  text-align: center;
  font-weight: bold;
  height: 265px;
  width: 250px;
  overflow: hidden;
  z-index: -100;
  position: relative;
}

h6:hover{
  opacity: 1;
}*/

.Bing {
   background-size: cover;
   background-clip: center;
   height: 265px;
   width: 355px;
   background-image: linear-gradient(
      rgba(25,25,25,0.3), 
      rgba(25,25,25,0.6)
      ),url(http://i.imgur.com/8uQkvFc.jpg);
    transition: all 1s ease;

}

.Bing p {
  padding: 40px 5px 0px 5px;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  font-size: 22px;
  font-weight: bold;
  transition: all 0.2s ease;
  font-family: 'Dosis';
  
  color: rgb(0,77,153) !important;
  height: 265px;
  width: 355px;
  overflow: hidden;
  z-index: 1 !important;

}
.Bing:hover{
  background-image: linear-gradient(
      rgba(204,204,204,0.6), 
      rgba(204,204,204,0.8)
      ),url(http://i.imgur.com/8uQkvFc.jpg);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
}

.Bing p:hover{
  opacity: 1;
}
.Lockheed {
  background-image: linear-gradient(
      rgba(25,25,25,0.25),
      rgba(25,25,25,0.4)
      ),
  url(http://i.imgur.com/QathlCb.jpg);
  background-size: cover;
  height: 201px;
  width: 555px;
  background-position: center;
  float: right;
  margin-top: -265px;
  margin-right: 73px;
  transition: all 1s ease;
}

.Lockheed:hover {
  background-image: linear-gradient(
      rgba(204,204,204,0.8),
      rgba(204,204,204,0.8)
      ),
  url(http://i.imgur.com/QathlCb.jpg);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
}

.Lockheed p{
  padding: 20px 10px 0px 10px;
  overflow: hidden;
  text-align: center;
  opacity: 0;
  font-size: 20px;
  transition: all 0.2s ease;
  font-weight: bold;
  font-family: 'Dosis';
  color: rgb(0,77,153) !important;
  height: 201px;
  width: 555px;
  overflow: hidden;
}

.Lockheed p:hover{
  opacity: 1;
}

.EY {
  background-image: linear-gradient(
      rgba(25,25,25,0.3),
      rgba(25,25,25,0.4)
      ),
  url(http://i.imgur.com/vZkWxPm.jpg);
  background-size: cover;
  height: 500px;
  width: 355px;
  float: left;
  margin-top: 7px;
  transition: all 1s ease;
}

.EY p{
  height: 500px;
  width: 355px;
  font-family: 'Dosis';
  font-size: 22px;
  font-weight: bold;
  color: rgb(0,77,153) !important;
  overflow: hidden;
  text-align: center;
  padding: 30px 15px 0px 15px;
  opacity: 0;
}

.EY:hover{
  background-image: linear-gradient(
      rgba(204,204,204,0.8),
      rgba(204,204,204,0.8)
      ),
  url(http://i.imgur.com/vZkWxPm.jpg);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
}

.EY p:hover{
  opacity: 1;
}
.TBP {
  background-image: linear-gradient(
      rgba(25,25,25,0.25),
      rgba(25,25,25,0.4)
      ),
  url(http://i.imgur.com/dCHEojF.png);
  background-size: cover;
  height: 238px;
  width: 555px;
  background-position: center;
  float: right;
  margin-top: -56px;
  margin-right: 71px;
  transition: all 1s ease;
  }

.TBP p{
  height: 238px;
  width: 555px;
  font-family: 'Dosis';
  font-size: 20px;
  font-weight: bold;
  color: rgb(0,77,153) !important;
  overflow: hidden;
  text-align: center;
  padding: 10px 15px 0px 15px;
  opacity: 0;
}

.TBP:hover{
  background-image: linear-gradient(
      rgba(204,204,204,0.8),
      rgba(204,204,204,0.8)
      ),
  url(http://i.imgur.com/dCHEojF.png);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
}

.TBP p:hover{
  opacity: 1;
}

.site{
  background-image: 
    linear-gradient(
      rgba(25,25,25,0.15),
      rgba(25,25,25,0.25)
      ),
    url(http://i.imgur.com/FH50Hdk.png);
  background-size: cover;
  background-position: center;
  height: 275px;
  width: 275px;
  float: right;
  margin-top: 6px;
  margin-right: 350px;
  transition: all 1s ease;
}

.site p{
  height: 275px;
  width: 274px;
  font-family: 'Dosis';
  font-size: 20px;
  font-weight: bold;
  color: rgb(0,77,153) !important;
  overflow: hidden;
  text-align: center;
  padding: 40px 15px 0px 15px;
  opacity: 0;
}

.site:hover{
  background-image: 
    linear-gradient(
      rgba(204,204,204,0.8),
      rgba(204,204,204,0.8)
      ),
    url(http://i.imgur.com/FH50Hdk.png);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
}

.site p:hover{
  opacity: 1;
}

.SWE{
  background-image: 
    linear-gradient(
      rgba(25,25,25,0.2),
      rgba(25,25,25,0.3)
      ),
    url(https://images.unsplash.com/photo-1426024025799-8cf58f5df5a4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9e9733f4a23764c081eec999c2ccead6);
  background-size: cover;
  background-position: center;
  height: 275px;
  width: 274px;
  float: right;
  margin-top: -275px;
  margin-right: 70px;
  transition: all 1s ease;
}

.SWE p{
  height: 275px;
  width: 274px;
  font-family: 'Dosis';
  font-size: 20px;
  font-weight: bold;
  color: rgb(0,77,153) !important;
  overflow: hidden;
  text-align: center;
  padding: 20px 15px 0px 15px;
  opacity: 0;
}
.SWE:hover{
  background-image: 
    linear-gradient(
      rgba(204,204,204,0.8),
      rgba(204,204,204,0.8)
      ),
    url(https://images.unsplash.com/photo-1426024025799-8cf58f5df5a4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9e9733f4a23764c081eec999c2ccead6);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
}

.SWE p:hover{
  opacity: 1;
}
.BU {
  background-image: 
    linear-gradient(
      rgba(25,25,25,0.3),
      rgba(25,25,25,0.4)
      ),
    url(http://i.imgur.com/tRsvMjN.jpg);
  background-position: center;
  background-size: cover;
  height: 188px;
  width: 558px;
  float: right;
  margin-top: 6px;
  margin-right: 67px;
  transition: all 1s ease;
}

.BU p{
  height: 188px;
  width: 558px;
  font-family: 'Dosis';
  font-size: 20px;
  font-weight: bold;
  color: rgb(0,77,153) !important;
  overflow: hidden;
  text-align: center;
  padding: 20px 10px 0px 10px;
  opacity: 0;
}

.BU:hover{
  background-image: 
    linear-gradient(
      rgba(204,204,204,0.8),
      rgba(204,204,204,0.8)
      ),
    url(http://i.imgur.com/tRsvMjN.jpg);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
}

.BU p:hover{
  opacity: 1;
}

.Advising{
  background-image: 
    linear-gradient(
      rgba(25,25,25,0.3),
      rgba(25,25,25,0.4)
      ),
    url(http://i.imgur.com/MtdldDM.jpg);
  height: 140px;
  width: 355px;
  background-position: center;
  background-size: cover;
  float: left;
  transition: all 1s ease;
  margin-top: 10px;
}

.Advising p{
  height: 140px;
  width: 355px;
  font-family: 'Dosis';
  font-size: 19px;
  font-weight: bold;
  color: rgb(0,77,153) !important;
  overflow: hidden;
  text-align: center;
  padding: 5px 5px 0px 5px;
  opacity: 0;
}
.Advising:hover{
  background-image: 
    linear-gradient(
      rgba(204,204,204,0.8),
      rgba(204,204,204,0.8)
      ),
    url(http://i.imgur.com/MtdldDM.jpg);
  transform: scale(1.015);
  -webkit-transform: scale(1.015);
  -moz-transform: scale(1.015);
}

.Advising p:hover{
  opacity: 1;
}

.Me {
  width: 100%;
  height: 75vh;
  background-image: linear-gradient(
      rgba(204,204,204,0.3),
      rgba(204,204,204,0.4)
      ),
    url("https://images.unsplash.com/photo-1459664018906-085c36f472af?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0790a8686cb07ac8851066ef544f1082");
  margin: auto 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.Me img{
  float: left;
  height: 75vh;
  padding-left: 20px;
}

.MePic{
  height: 7vh;
  width: 35%;
}
.Me h4{
  font-family: 'Amatic SC';
  font-weight: bold;
  font-size: 95px;
  color: black;
  text-align: right;
  float: right;
  height: 100px;
  width: 65%;
  padding-right: 40px;
  padding-top: 50px;
}
.Me p{
  width: 65%;
  font-family: 'Dosis';
  font-size: 30px;
  font-weight: bold;
  color: black;
  overflow: hidden;
  text-align: right;
  padding: 5px 5px 0px 5px;
  float: right;
  padding-right: 40px;
  padding-top: 70px;
}

.contact{
  width: 100%;
  height: 25vh;
  background-image: url("https://images.unsplash.com/photo-1447703693928-9cd89c8d3ac5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a8cba9e0f07c6ac9086aecf4dfa1a860");
}

.contact p{
  text-align: center;
  font-family: 'Raleway';
  font-weight: bold;
  font-size: 22px;
  color:#f3f3f3;
  letter-spacing: 2px;
  padding-top: 30px;

}

div.zoomed { zoom: 3; -moz-transform: scale(3); -moz-transform-origin: 0 0}


